:root {
    --text-color: #1a1c28;
    --link-color: #4a76ee;
    --background-color:  #373737;
    --button-color: #2d2d2d;
    --border-color: #32393d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open-Sans', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right button{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    margin: 0 3px;
    height: fit-content;
    background-color: var(--button-color);
    border-color: var(--border-color);
    border-radius: 5px;
    padding: 4px;
}


nav .right a span{
    margin-left: 5px;
}

/* Hero */

.hero-section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 100px;
    transition: .1s;
}

.hero-section .text .links a:hover{
     color: var(--text-color);
     border: 2px solid var(--text-color);
}

/* skills */

.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

 .skills-section h2{
    text-align: center;
    font-size: 35px;
  }

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    margin: 10px;
}

.skills-section .cells .cell img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 2px;
    padding: 7px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

/* contact */

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: "Open-Sans", sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 50px;
    outline: none;
    resize: none;
}

.contact-section .group form label{
    margin-bottom: 2px;
    margin-left: 2px;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: "Open-Sans", sans-serif;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}

/* Responsiveness */

@media (max-width: 850px) {
    .hero-section .text h2{
      font-size: 35px;  
    }
}

@media (max-width: 740px){
    .contact-section .group{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* hero */

    .hero-section{
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size:  30px;
    }

    /* skills */
    
    .skills-section{
        padding: 0 20px;
    }

    .skills-section .cells .cell span{
        font-size: 10px;
    }

    /* contact */

    .contact-section{
        padding: 0 20px;
    }
}